// iss poori website mein hun jo colors use krne waale hai vo iss file mein honge

// we can declare variables as well
$first : white;
$second : #090c31;
$third : #5853ff;
$dark : rgb(44,44,44);
$text1 : "Roboto";
$text2 : sans-serif;